In [21]:
import pandas as pd
import numpy as np
import pathlib
import argparse

In [22]:
DATA_PATH =  pathlib.Path().resolve().parents[0] / 'life_expectancy/data'

In [3]:
if __name__ == "__main__": # pragma: no cover
    def clean_data():
        """ Clean_data function does the following:
            -Loads file.
            -Melts Date columns into a single column;
            -Split first column into 4 different;
            -Remove NaN's;
            -Transform columns value and year and its datatypes
            -Filter region column, only for Portugal (PT).
            -Save output into csv file, without index.
        """

        DATA_PATH =  pathlib.Path().resolve().parents[0] / 'life_expectancy/data'

        life_expectancy = pd.read_csv(
            DATA_PATH.joinpath('eu_life_expectancy_raw.tsv'),
            sep="\t")


        life_expectancy.columns =  [column_title.replace("\\","") for column_title in life_expectancy.columns]

        life_expectancy = pd.melt(life_expectancy, 
                                id_vars= life_expectancy.columns[0], 
                                var_name= "year",
                                value_vars= life_expectancy.columns[1:],
                                value_name= "value")
                            

        life_expectancy[["unit","sex","age","region"]] = (life_expectancy["unit,sex,age,geotime"].
                                                        str.split(',', expand=True)
        )

        life_expectancy = (
            life_expectancy.
            drop(columns="unit,sex,age,geotime").
            replace(": ",np.NaN).
            dropna(how="any")
            )   
            
        life_expectancy["value"] = ( 
            life_expectancy["value"].
            str.split().str[0]
        )

        life_expectancy = life_expectancy[life_expectancy["region"]=="PT"]

        life_expectancy = life_expectancy.astype(
            {"year":int, "value": float})

        life_expectancy[
            ["unit","sex","age","region","year","value"]
            ].to_csv(
                DATA_PATH.joinpath("pt_life_expectancy.csv"),
                index= False)

In [4]:
DATA_PATH =  pathlib.Path().resolve().parents[0] / 'life_expectancy/data'

In [5]:
life_expectancy = pd.read_csv(DATA_PATH.joinpath('eu_life_expectancy_raw.tsv'),
                              sep="\t")

In [6]:
life_expectancy.columns =  [column_title.replace("\\","") for column_title in life_expectancy.columns]

life_expectancy = pd.melt(life_expectancy, 
                          id_vars= life_expectancy.columns[0], 
                          var_name= "year",
                          value_vars= life_expectancy.columns[1:],
                          value_name= "value")
                      

life_expectancy[["unit","sex","age","region"]] = (life_expectancy["unit,sex,age,geotime"].
                                                  str.split(',', expand=True)
)

life_expectancy = (
    life_expectancy.
    drop(columns="unit,sex,age,geotime").
    replace(": ",np.NaN).
    dropna(how="any")
    )   
    
life_expectancy["value"] = ( 
    life_expectancy["value"].
    str.split().str[0]
)

life_expectancy = life_expectancy[life_expectancy["region"]=="PT"]

life_expectancy = life_expectancy.astype(
    {"year":int, "value": float})

life_expectancy = life_expectancy[
    ["unit","sex","age","region","year","value"]
    ]

In [20]:
life_expectancy.to_csv(
    DATA_PATH.joinpath("pt_life_expectancy.csv"),
    index= False)

#### Work on Enum:

In [24]:
EXPECTED_PATH = pathlib.Path().resolve().parents[0] / 'life_expectancy/tests/fixtures'

In [25]:
work_countries = pd.read_csv(EXPECTED_PATH.joinpath('eu_life_expectancy_expected.csv'))

In [29]:
work_countries[work_countries["region"].str.contains(pat="\d+", regex = True)]

       unit sex    age      region  year  value
10       YR   F    Y65   EU27_2020  2021   20.9
40       YR   F  Y_LT1   EU27_2020  2021   82.8
70       YR   M    Y65   EU27_2020  2021   17.3
100      YR   M  Y_LT1   EU27_2020  2021   77.2
132      YR   T    Y65   EU27_2020  2021   19.3
...     ...  ..    ...         ...   ...    ...
237506   YR   T  Y_LT1  EEA30_2007  2002   77.8
237507   YR   T  Y_LT1       EEA31  2002   77.7
237511   YR   T  Y_LT1   EU27_2007  2002   77.7
237512   YR   T  Y_LT1   EU27_2020  2002   77.6
237513   YR   T  Y_LT1        EU28  2002   77.7

[32250 rows x 6 columns]

In [28]:
work_countries = work_countries[~work_countries["region"].str.contains(pat="\d+", regex = True)]

In [31]:
country_list = list(work_countries[work_countries["region"]!="EFTA"]["region"].unique())

In [40]:
list1 = int(len(country_list)/2)
for country in country_list[list1:]:
    print(country)

PT
RO
SE
SI
SK
DE
DE_TOT
AL
IE
ME
MK
RS
AM
AZ
GE
TR
UA
BY
UK
XK
FX
MD
SM
RU

In [38]:
list1

24.0

In [1]:
"""Country Enum class to validate country parse."""
from enum import Enum, auto
from strenum import StrEnum

class Country(StrEnum):
    """Class to validate input in parser for region/country."""
    BG = auto()
    BE = auto()
    CH = auto()
    AT = auto()
    CY = auto()
    CZ = auto()
    EL = auto()
    EE = auto()
    ES = auto()
    DK = auto()
    FI = auto()
    FR = auto()
    HR = auto()
    HU = auto()
    IS = auto()
    IT = auto()
    LI = auto()
    LT = auto()
    LU = auto()
    LV = auto()
    MT = auto()
    NL = auto()
    NO = auto()
    PL = auto()
    PT = auto()
    RO = auto()
    SE = auto()
    SI = auto()
    SK = auto()
    DE = auto()
    DE_TOT = auto()
    AL = auto()
    IE = auto()
    ME = auto()
    MK = auto()
    RS = auto()
    AM = auto()
    AZ = auto()
    GE = auto()
    TR = auto()
    UA = auto()
    BY = auto()
    UK = auto()
    XK = auto()
    FX = auto()
    MD = auto()
    SM = auto()
    RU = auto()

    @classmethod
    def _missing_(cls, value):
        value = value.lower()
        for member in cls:
            if member.value == value:
                return member
        return None

In [19]:
Country.PT

values = [member.value for member in Country]
values[int(len(values)/2):]

['PT',
 'RO',
 'SE',
 'SI',
 'SK',
 'DE',
 'DE_TOT',
 'AL',
 'IE',
 'ME',
 'MK',
 'RS',
 'AM',
 'AZ',
 'GE',
 'TR',
 'UA',
 'BY',
 'UK',
 'XK',
 'FX',
 'MD',
 'SM',
 'RU']

In [15]:
Country._member_names_

['BG',
 'BE',
 'CH',
 'AT',
 'CY',
 'CZ',
 'EL',
 'EE',
 'ES',
 'DK',
 'FI',
 'FR',
 'HR',
 'HU',
 'IS',
 'IT',
 'LI',
 'LT',
 'LU',
 'LV',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'SE',
 'SI',
 'SK',
 'DE',
 'DE_TOT',
 'AL',
 'IE',
 'ME',
 'MK',
 'RS',
 'AM',
 'AZ',
 'GE',
 'TR',
 'UA',
 'BY',
 'UK',
 'XK',
 'FX',
 'MD',
 'SM',
 'RU']

In [30]:
import enum

print(enum.__file__)

c:\Users\crocs\anaconda3\lib\enum.py